src/module-elasticsuite-core/etc/elasticsuite_relevance_initial_config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Smile ElasticSuite to newer
 * versions in the future.
 *
 * @category  Smile
 * @package   Smile\ElasticsuiteCore
 * @author    Aurelien FOUCRET <aurelien.foucret@smile.fr>
 * @author    Romain RUAUD <romain.ruaud@smile.fr>
 * @copyright 2019 Smile
 * @license   Open Software License ("OSL") v. 3.0
 */
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config" type="configType" />
    <xs:complexType name="configType" mixed="true">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="default"  type="mixedDataType" />
            <xs:element name="containers" type="containersScopeType" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="stores" type="containersScopeType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="containersScopeType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="container" type="containerType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="containerType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax" />
        </xs:choice>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="store_code" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="mixedDataType">
        <xs:choice>
            <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded" />
        </xs:choice>
    </xs:complexType>
</xs:schema>
